@import 'font';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
    --bg-dark: hsl(243, 96%, 9%);
    --dark-grey:  hsl(243, 27%, 20%);
    --grey: hsl(243, 23%, 24%);
    --light-grey: hsl(243, 23%, 30%);
    --dark-gray: hsl(240, 6%, 70%);
    --gray: hsl(250, 6%, 84%);
    --white: hsl(0, 0%, 100%);
    --orange: hsl(28, 100%, 52%);
    --blue: hsl(233, 67%, 56%);
    --dark-blue: hsl(248, 70%, 36%);
    --font-two: 'bricolage-grotesque', sans-serif;
    --font-one: 'dm-sans' , sans-serif;
}
body {
    font-size: 1.8rem;
    font-family: var(--font-one);
    font-weight: 500;
    transition: all 1s ease-in-out;
    color: var(--white);
    min-height: 100vh;
    background-color: var(--bg-dark);
}
.units__filter {
    position: absolute;
    z-index: 1;
    background-color: var(--grey);
    border-radius: 1rem;
    padding: 1.5rem;
    top: 100%;
    width: 26rem;
    color: var(--gray);
    display: none;
    right: 0;
    transform: translateY(1.5rem);
}
.bold-text {
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    height: 4rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
}
.bold-text:focus {
    outline: 2px solid var(--white);
}
.bold {
    cursor: pointer;
    height: 4rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    justify-content: space-between;
    padding: 0 1rem;
    color: var(--white);
}
.bold:hover,
.bold-text:hover {
    background-color: var(--light-grey);
    border-radius: 1rem;
}
.units__filter p {
    padding-left: 1rem;
}
hr {
    border: 1px solid var(--light-grey);
    margin: 1rem 0;
}
.app {
    padding: 2rem 1.5rem;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.app__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4.5rem;
    max-width: 124rem;
    width: 100%;
    max-height: 43rem;
    position: relative;
}
.app__nav button {
    display: flex;
    align-items: center;
    background-color: var(--grey);
    font-size: 1.8rem;
    color: var(--white);
    cursor: pointer;
    gap: 1rem;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    border: none;
}
.app__nav button:hover {
    background-color: var(--light-grey);
}
.app__nav button:focus {
    outline: 2px solid var(--white);
}
.app__nav button :nth-child(1) {
    width: 2rem;
}
h1 {
    text-align: center;
    font-family: var(--font-two);
    font-size: 5.5rem;
    width: 34rem;
    margin-bottom: 4.5rem;
}
form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    position: relative;
    gap: 1.5rem;
    max-width: 45rem;
}
fieldset input,
fieldset button {
    width: 100%;
    height: 6rem;
    border: none;
    font-size: 1.8rem;
    color: var(--white);
    border-radius: 1rem;
}
fieldset input:focus {
    border: 2px solid var(--white);
}
fieldset button:focus {
    border: 2px solid var(--blue);
}
fieldset button {
    background-color: var(--blue);
    font-weight: 500;
    font-size: 2.2rem;
    cursor: pointer;
    letter-spacing: 0.05em;
}
fieldset button:hover {
    background-color: var(--dark-blue);
}
fieldset input {
    padding-left: 6.5rem;
    background-color: var(--grey);
}
fieldset input:hover {
    background-color: var(--light-grey);
}
fieldset input::placeholder {
    color: var(--white);
}
label {
    top: -1rem;
    left: 2.5rem;
    transform: translateY(100%);
    z-index: 1;
    position: absolute;
    display: grid;
    place-content: center;
}
label img {
    width: 2.6rem;
}
.suggestions {
    width: 100%;
    max-width: 50rem;
    background-color: var(--grey);
    padding: 1.5rem;
    border-radius: 1rem;
    display: none;
    font-size: 2rem;
    z-index: 1;
}
.suggestions p {
    height: 4rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    border-radius: 1rem;
}
.suggestions p:hover {
    background-color: var(--light-grey);
}
.app__search {
    margin-bottom: 4rem;
}
.city {
    background-image: url(../assets/images/bg-today-small.svg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 40rem;
    min-width: 34rem;
    padding: 4rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 2rem;
    margin-bottom: 3rem;
}
.city p,
.city span {
    width: max-content;
}
.city p {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.city span {
    font-size: 2rem;
    color: var(--gray);
}
.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
.weather {
    display: flex;
    align-items: center;
    gap: 4rem;
}
.weather p {
    font-size: 10rem;
    font-family: var(--font-two);
    font-style: italic;
    margin: 0;
}
.weather-icon img {
    width: 100%;
    display: block;
    transform: scale(2.5);
}
.weather-icon {
    width: 5rem;
}
.weather-stats {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    max-width: 50rem;
    min-width: 35rem;
    margin-bottom: 4rem;
}
.weather-stats div {
    background-color: var(--grey);
    padding: 2rem;
    width: max-content;
    font-size: 2rem;
    min-width: 16rem;
    max-width: 100%;
    border-radius: 1rem;
}
.weather-stats div p {
    margin-bottom: 2rem;
    color: var(--gray);
}
.weather-stats div span {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    align-self: flex-start;
}
.days,
.days-loading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    justify-content: flex-start;
    width: 34rem;
}
.days div img {
    width: 7rem;
}
.days div {
    width: 10.3rem;
    background-color: var(--grey);
    padding: 2rem 1.5rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
}
.days div span {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.daily-forecast,
.app__dashboard {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.daily-forecast {
    margin-bottom: 4rem;
}
.imperial {
    display: none;
}
.week-days {
    background-color: var(--dark-grey);
    padding: 1.5rem;
    border-radius: 1rem;
    font-size: 2rem;
    position: absolute;
    z-index: 1;
    width: 24rem;
    top: 100%;
    display: none;
    right: 0;
    transform: translateY(1rem);
}
.week-days p {
    height: 4rem;
    display: flex;
    cursor: pointer;
    align-items: center;
    text-transform: capitalize;
    padding: 0 1rem;
}
.week-days p:hover {
    background-color: var(--light-grey);
    border-radius: 0.5rem;
}
.hourly-forecast .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    position: relative;
}
.hourly-forecast {
    background-color: var(--dark-grey);
    max-width: 38rem;
    width: 100%;
    border-radius: 2rem;
    padding: 3.5rem 2rem;
}
h3 {
    font-size: 2.3rem;
}
.hourly-forecast .head button {
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    gap: 1.5rem;
    border: none;
    cursor: pointer;
    background-color: var(--grey);
    color: var(--white);
    font-weight: 600;
    border-radius: 1rem;
    padding: 1.5rem;
}
.hourly-forecast .head button:hover {
    background-color: var(--light-grey);
}
.hourly-forecast .head button:focus {
    outline: 2px solid var(--white);
}
.hourly-forecast .head img {
    width: 1.5rem;
}
.hourly-forecast .past-weather img {
    width: 6rem;
}
.hourly-forecast .past-weather div,
.past-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 1rem;
    border-radius: 1.5rem;
    background-color: var(--light-grey);
}
.hourly-forecast .past-weather div span {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2.5rem;
}
.past-weather,
.past-loading {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}
main {
    margin-bottom: 5rem;
}
.attribution {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    gap: 0.5rem;
    color: var(--white);
    text-align: center;
}
.attribution a { 
    text-decoration: none;
    transition: 1s ease-in-out;
    color: var(--orange);
}
.attribution a:hover,
.attribution a:active {
    filter: brightness(1.3);
}
.app-Error {
    display: none;
}
.noResult {
    display: none;
    margin: 0 auto;
}
.daily-forecast {
    position: relative;
}
.days-loading {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    transform: translateY(5rem);
}
.days-after {
    width: 10.3rem;
    height: 20.19rem;
    display: block;
    border-radius: 1rem;
    background-color: var(--grey);
}
.past {
    position: relative;
}
.city {
    position: relative;
}
.city-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--grey);
    border-radius: 2rem;
    top: 0;
    left: 0;
}
.past-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
.past-div {
    height: 8rem;
    background-color: var(--grey);
}
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%) translateY(-50%);
}
.loading p {
    font-size: 1.9rem;
    margin: 0;
}
.balls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0.5rem;
}
@keyframes loading {
    0% {}
    50% {transform: translateY(-1rem);}
    100% {}
}
.balls div {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--white);
    animation: loading 4s ease-in-out infinite;
}
.balls .ball-1,
.balls .ball-3 {
    animation: loading 4s ease-in-out 1s infinite;
}
.units__filter,
.week-days,
.suggestions {
    border: 1px solid var(--light-grey);
}

//loading state
.loading,
.city-loading,
.days-loading,
.past-loading {
    z-index: -2;
}
.loadingState {
    z-index: 3;
}

@media (min-width: 1440px) {
    .app {
        justify-content: center;
    }
    .app__nav {
        margin-bottom: 5rem;
    }
    h1 {
        width: 80rem;
        margin-bottom: 4rem;
    }
    fieldset {
        max-width: 65rem;
        flex-direction: row;
    }
    .suggestions {
        position: absolute;
        top: 100%;
        left: 0;
        transform: translateY(2rem);
    }
    fieldset input {
        width: 50rem;
    }
    fieldset button {
        width: 13.5rem;
    }
    .app__search {
        margin-bottom: 4rem;
    }
    .app__dashboard {
        width: 124rem;
        display: grid;
        grid-template-columns: 80rem 1fr;
        grid-template-rows: auto;
        align-items: start;
        column-gap: 2.5rem;
        grid-template-areas: 
        "one two"
        "three two"
        "four two"
        ;
    }
    .city {
        grid-area: one;
        height: 36rem;
        max-width: 100%;
        margin-bottom: 0;
        padding: 0 2.5rem;
        flex-direction: row;
        background-image: url(../assets/images/bg-today-large.svg);
        justify-content: space-between;
    }
    .weather {
        transform: translateX(-1rem);
    }
    .location {
        align-items: start;
    }
    .hourly-forecast {
        grid-area: two;
        align-self: flex-end;
        max-width: 100%;
        padding: 2rem;
        margin-bottom: 0;
    }
    .weather-stats {
        grid-area: three;
        margin: 0;
        height: 100%;
        max-width: 100%;
        gap: 0;
        transform: translateY(-2rem);
        align-self: flex-start;
        justify-content: space-between;
    }
    .daily-forecast {
        margin-bottom: 0;
        grid-area: four;
        align-self: flex-end;
    }
    .days,
    .days-loading {
        width: 100%;
        gap: 0;
        justify-content: space-between;
    }
    .weather-stats div {
        width: 18rem;
    }
    h2 {
        transform: translateY(-3rem);
    }
    .city p {
        font-size: 3.5rem;
    }
    .city .weather .temp-deg {
        font-size: 10rem;
    }
    .app-Error {
        display: none;
    }
    .noResult {
        transform: translateY(1.5rem);
    }
    .loading p {
        font-size: 1.9rem;
        margin: 0;
    }
}